async-timeout==3.0.1
beautifulsoup4==4.10.0
discord==1.7.3
discord.py==1.7.3
oauthlib==3.1.0
Pillow==7.0.0
PyJWT==1.7.1
python-dateutil==2.7.3
python-dotenv==0.19.0
SecretStorage==2.3.1
selenium==3.141.0
soupsieve==2.2.1
splinter==0.15.0
systemd-python==234
webdrivermanager==0.10.0

